header{
  display: flex;
  height: 70px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  color:rgb(5, 55, 105);
  margin-bottom: 100px;
}

header h1{
  font-size: 25px;
  font-weight: bold;
  margin: 15px 20px;
}

nav ul{
  display: flex;
}

nav li a{
  padding: 20px;
  color:rgb(5, 55, 105);
  display: inline-block;
}

.contents-wrapper{
  position: relative;
  margin-bottom: 10px;
}

.contents{
  position: absolute;
  top: 60%;
  z-index: -1;
}

.contents-message{
  font-size: 70px;
}

.block{
  background-color:rgb(5, 55, 105);
  height: 220px;
  width: 1100px;
}

.contents-img{
  width: 50%;
  margin: 0 0 0 auto;
  display: block;
}
